.my-header {
  height: 90px;
  background-color: #0A121E;
}
/* Шапка */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 150px;
gap: 30px;

width: 1440px;
height: 90px;

/* Чёрный */
background: #0A121E;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


.my-but {
    background-color: #FF342B !important;
    border-radius: 4px !important;
    width: 88px;
    height: 44px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}


.space-img {
    max-width: 457px;
    max-height: 457px;
}


.footer {
    background-color: #3C3C3C;


}

.for-img {
    max-width: 520px !important;
    max-height: 320px !important;

}

#my_slider {
    margin: 20px 20px 40px 400px;
    padding: 0px 10px 10px 10px;


}
. slider {
    width: Hug (1,117px)px;
    height: Hug (630px)px;
    top: 202px;
    left: 177.5px;
    gap: 45px;
    opacity: 0px;
    position: relative; /* Относительное позиционирование для контейнера */
    margin: auto; /* Центрируем слайдер */

}

}
.slider-for {
    width: 750px;
    height: 420px;
    gap: 0px;
    opacity: 0px;

}

.slider-for img {
    width: 750px;
    height: 420px;
    gap: 0px;
    opacity: 0px;

}

.slider-nav {
    width: Hug (1,117px)px;
    height: Hug (165px)px;
    gap: 30px;
    opacity: 0px;
    arrows: arrowsVisible, // Устанавливаем видимость стрелок

}

.slider-nav img {
    max-width: 165px;
    max-height: 165px;
    gap: 30px;
    opacity: 0px;


 }

.slick-slide img {
    height: 320px;
    width: 520px;


}

.slick-slider {
    margin:0 80px;
}

.prev, .next {
            width: 56px; /* Ширина стрелок */
            height: 56px; /* Высота стрелок */
            cursor: pointer; /* Указатель при наведении */
            position: absolute; /* Абсолютное позиционирование */
            top: 50%; /* Центрирование по вертикали */
            transform: translateY(-50%); /* Центрируем по вертикали */
            background-size: contain; /* Масштабируем изображение */
            background-repeat: no-repeat; /* Не повторяем изображение */
            z-index: 1000; /* Убедитесь, что стрелки находятся поверх слайдов */
        }

.prev {
            left: -80px; /* Положение стрелки "Назад" */
            background-image: url("../img/arrowpr.png"); /* Путь к изображению стрелки "Назад" */
        }
.next {
            right: -40px; /* Положение стрелки "Вперед" */
            background-image: url("../img/arrownxt.png"); /* Путь к изображению стрелки "Вперед" */
        }

@media screen and (max-width: 1000px) {
    .slider-nav img {
        margin-right: 10px;
        max-width: 165px;
        max-height: 165px;
    }
}

@media screen and (max-width: 500px) {
    .slider-nav img {
        margin-right: 5px;
        max-width: 100px;
    }
}

.round {
    border-radius: 40px;
   }

